* {
    margin: 0;
    padding: 0;
}

body {
    width: calc(100vw - (100vw - 100%));
    overflow: hidden;
}

img {
    margin-top: -8rem;
    padding: 0;
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

section {
    height: calc(100vh - 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 6rem;
}
